:root {
    --danger-light: rgba(220, 53, 69, 0.35);
    --success-light: rgb(40, 167, 69, 0.35);
    --primary-light: rgb(0, 123, 255, 0.35);
    --warning-light: rgb(255, 193, 7, 0.35);
    --info-light: rgb(23, 162, 184, 0.35); }

body{
    background-color: var(--info-light);
}

.section-btn {       
    width: calc(100% + 1rem);
    left: -2rem;
    text-align: left;
    border-radius: 0 6rem 6rem 0;
    border: none;
    margin: 0.5rem 0;
    padding: 0.7rem 1rem 0.7rem 3rem;
    box-shadow: none;
    transition: 0.3s;
    position: relative; }
.section-btn i { 
    height: 100%; 
    line-height: 100%; }
.section-btn span { 
    float: right; }
.section-btn:focus {
    outline: none; }
.section-btn.all {
    color: var(--info) !important;
    background-color: var(--info-light) !important; }
.section-btn.all.active, .section-btn.all:hover {
    background-color: var(--info) !important;}
.section-btn.rejected {
    color: var(--danger) !important;
    background-color: var(--danger-light) !important; }
.section-btn.rejected.active, .section-btn.rejected:hover {
    background-color: var(--danger) !important; }
.section-btn.approved {
    color: var(--success) !important;
    background-color: var(--success-light) !important; }
.section-btn.approved.active, .section-btn.approved:hover {
    background-color: var(--success) !important; }
.section-btn.waiting {
    color: var(--warning) !important;
    background-color: var(--warning-light) !important; }
.section-btn.waiting.active, .section-btn.waiting:hover {
    background-color: var(--warning) !important; }
.section-btn:hover:not(.active) {
    left: 0rem; 
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    color:white !important; }
.section-btn.active {
    left: 0rem; 
    color:white !important; }


#topbar {
    background-color:white;
    position:absolute;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 1rem 1rem; }
#topbar .avatar {
    width: 3rem;
    height: 3rem;
    margin: 0 0 0 1rem;
    display: inline-block; }
#topbar .user, 
#topbar .position {
    margin: 0;
    padding: 0; }

        


    

.circled {
    border-radius: 5rem; }
.unauthorized {
    display: none; }


.specs-card {
    text-align: left;
    background-color: white;
    border-radius: 1rem;
    padding: 0;
    margin:0.5rem;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transition: 0.3s;
    top: 0rem;
}

.specs-card:hover {
    top: -0.5rem; 
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.specs-card span:nth-child(1) {
    color: var(--gray);
    width: 100%;
    padding: 0.5rem 1rem 0 0;
    display: block;
    text-align: right;
}

.specs-card span:nth-child(2) {
    font-size: 1.5rem;
    color: var(--gray);
    padding-left: 1rem;
    text-align: left;
} 

.specs-card span:nth-child(3) {
    font-size: 1.5rem;
    color: var(--black);
    font-weight: bold;
    text-align: left;
} 

.specs-card span:nth-child(4) {
    padding: 0 0 0.5rem 1rem;
    font-style: italic;
    display: block;
}

.specs-card div:nth-child(5) {
    background-color:var(--warning);
    padding: 0.75rem 1rem;
    border-radius: 0 0 1rem 1rem;
    color:white;
}
